<div id="new-schit">
	<form action="/sessions/forgot_password" method="post">
	<input name="email" type="text" placeholder="Email to retrieve password">
	<input type="submit" value="Submit">
	</form>
</div>