<h1>Forgot password</h1>

<% if flash[:notice] %>
	<div id="notice">
		<%= flash[:notice] %>
	</div>
<% end %>
<form action="/sessions/forgot_password" method="post">
Email: <input name="email" type="text">
<input type="submit" value="Submit">
</form>