<div id="new-schit">
	<form method="post" action="/sessions">
		<input type="text" name="email" placeholder="Email">
		<input name="password" type="password" placeholder="Password">
		<input type="submit" value="Sign in">
		<a href='/sessions/forgot_password'>(forgot password?)</a>
	</form>
</div>
