<h1>Reset forgotten password</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
	Sorry, there were the following problems with the form.
	<ul id="errors">
		<% flash[:errors].each do |error| %>
			<li><%= error %></li>
		<% end %>	
	</ul>
<% end %>
	
<form action="/users/reset_password" method="post">
Email: <input name="email" type="text" value=<%= @user.email %> readonly >
New Password: <input name="password" type="password">
Confirm New Password: <input name="password_confirmation" type="password">
<input name="token" type="hidden" value=<%= @user.password_token %> >
<input type="submit" value="Update">
</form>