<footer>
  <div id="technologies">
    <p>
      Built at 
      <a href="http://www.makersacademy.com">Makers Academy</a>,
      a 12 week coding course in London using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>