<header>
	<span id="logo">
    <a href="/">
      <img src="/images/logo.png">
    </a>
  </span>
	
	<nav id="user-links">
		<a href="/schits/new" class="add-schit button highlighted">Schit!</a>
		<% if current_user %>
			<span id="welcome-message">		 
				Welcome, <%= current_user.email %>!
			</span>
			<form method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" class="button highlighted" value="Sign out">
			</form>
		<% else %>
			<a href='/users/new' class="new-user button">Sign up</a>
			<a href='/sessions/new' class="new-session button">Sign in</a>	
		<% end %>
	</nav>
</header>