<!DOCTYPE html>
<html>
<head>
	<title>schitter</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">  
</head>

<body>
	<div class="wrapper">
		<%= partial :header %>
		<%= partial :flash %>
		
		<div id='schits-container'>
			<%= yield %>
		</div>
		
		<div class="push"></div>
	</div>

	<%= partial :footer %> 
	
</body>
</html>