<!DOCTYPE html>
<html>
<head>
	<title>schitter</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">  
</head>

<body>

<header>


	<div id="logo">
    <a href="/">
      <img src="/images/logo.png">
    </a>
  </div>

	<a href="/schits/new" class="button highlighted">Schit!</a>
	
	<div id="user-links">
		<% if current_user %>
			<span id="welcome-message">		 
				Welcome, <%= current_user.email %>!
			</span>

			<form method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Sign out">
			</form>
		<% else %>
			<a href='/users/new' class="button">Sign up</a>
			<a href='/sessions/new' class="button">Sign in</a>	
		<% end %>
	</div>
</header>

	<% if flash[:notice] %>
		<div id="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
		Sorry, there were the following problems with the form.
		<ul id="errors">
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>	
		</ul>
	<% end %>

	<%= yield %>

<footer>
	<div id="schitter-logo">
		<a href='/'>schitter</a>
	</div>
	
  <div id="technologies">
    <p>
      Built at 
      <a href="http://www.makersacademy.com">Makers Academy</a>,
      a highly selective 12 week coding course in London using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
    </p>
  </div>
</footer>

</body>