
<li class='schit'>

	 <div class='description'>
	  <div class='source'>
	    <em><%= schit.user.name %></em>
	     @<%= schit.user.user_name %> &middot; 
	     <%= time_ago(schit.time_stamp) %>
	  </div>
  </div>

	<div class='message'> 
  	<%= schit.message %>
  </div>
	
 <div class="flag hollow">&#9872;</div>
 <div class="flag solid">&#9873;</div>

</li>
