
<li class='schit'>

	 <div class='description'>
	  <div class='source'>
	    <em><%= "schit.user.name" %></em>
	     @<%= "schit.user.user_name" %> &middot; 
	     <%= schit.time_stamp %>
	  </div>
  </div>

	<div class='message'> 
  <%= schit.message %>
  </div>


</li>
